body {}

.board {
    position: relative;
    overflow: hidden;
    width: 643px;
    height: 549px;
    border-radius: 10px;
}

.container {}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile {
    position: absolute;
    cursor: pointer;
    float: left;
    width: 120px;
    height: 120px;
    background-color: white;
    background-image: url('../images/dna.png');
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.tile:hover {
    background-color: #6699ff;
}

.start_game {
    font-family: $btnFont;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 1.50em;
    height: 31px;
    width: 25%;
    @include sandardBtnGradient($btnColorLight,$btnColorDark);
    text-decoration: none;
}

.start_game:hover {
    @include sandardBtnGradient($btnColorDark,$btnColorLight);
}

.moves {
    font-size: 2em;
    font-family: $mainFont;
}
