@mixin sandardBtnGradient($color1, $color2) {
    background: $color1;
    background-image: -webkit-linear-gradient(top, $color1, $color2);
    background-image: -moz-linear-gradient(top,$color1, $color2);
    background-image: -ms-linear-gradient(top,$color1, $color2);
    background-image: -o-linear-gradient(top, $color1, $color2);
    background-image: linear-gradient(to bottom, $color1, $color2);
}